
.category__header categories 
.category__content.owl-carousel.owl-theme
    .category__item.js-slider-item 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/Hobs.png')
        .category__item-type Hobs
    .category__item.js-slider-item 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/Hobs.png')
        .category__item-type Hobs
    .category__item.js-slider-item 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/air-fryer.png')
        .category__item-type Air fryers
    .category__item.js-slider-item 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/coffee-machine.png')
        .category__item-type Coffee machine
    .category__item.js-slider-item
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/rice-cooker.png')
        .category__item-type Rice Cookers
    .category__item.js-slider-item 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/vacuum-cleaner.png')
        .category__item-type Vacuum Cleaners
    .category__item.js-slider-item 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/refrigerator.png')
        .category__item-type Refrigerator
    .category__item.js-slider-item.disable 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/washing-machine.png')
        .category__item-type Washing Machine
    .category__item.js-slider-item.disable 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/vacuum-cleaner.png')
        .category__item-type Vacuum Cleaners
    .category__item.js-slider-item.disable 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/vacuum-cleaner.png')
        .category__item-type Vacuum Cleaners
    .category__item.js-slider-item.disable 
        .category__item-icon.hide-on-mobile 
            img(src='./src/images/logo/vacuum-cleaner.png')
        .category__item-type Vacuum Cleaners
    