.footer__option 
    .container.footer__container
        .footer__option-item.js-dropdown-menu
            .footer__option-item-title.js-dropdown-button Kitchen
            ul.footer__option-item-content.js-dropdown-content
                li.js-checkbox Cooktops
                li.js-checkbox Ovens
                li.js-checkbox Freestanding Cookers
                li.js-checkbox Hoods
                li.js-checkbox Refrigerators
                li.js-checkbox Dishwashers
                li.js-checkbox Microwaves
                li.js-checkbox Table Top Ovens
                li.js-checkbox Small Appliances

        .footer__option-item.js-dropdown-menu
            .footer__option-item-title.js-dropdown-button Laundry
            ul.footer__option-item-content.js-dropdown-content
                li.js-checkbox Washing machines
                li.js-checkbox Dryers
                
        .footer__option-item.js-dropdown-menu
            .footer__option-item-title.js-dropdown-button Wellbeing
            ul.footer__option-item-content.js-dropdown-content
                li.js-checkbox Vacuum Cleaners
                li.js-checkbox Air Care
                li.js-checkbox Water Heaters
                
        .footer__option-item.js-dropdown-menu
            .footer__option-item-title.js-dropdown-button Inspiration
            ul.footer__option-item-content.js-dropdown-content
                li.js-checkbox Cooker Hoods
                li.js-checkbox Kettles & Water Filtration
                li.js-checkbox Cooker Hoods
                li.js-checkbox Kettles & Water Filtration
        .footer__option-item.js-dropdown-menu
            .footer__option-item-title.js-dropdown-button Support
            ul.footer__option-item-content.js-dropdown-content
                li.js-checkbox Warranty Information
                li.js-checkbox Product Registration
                li.js-checkbox Extend Warranty
                li.js-checkbox service Centres
                li.js-checkbox User Manuals
                li.js-checkbox Download Brochures
                li.js-checkbox How-to Videos 
                li.js-checkbox FAQ

        .footer__option-item.js-dropdown-menu
            .footer__option-item-title.js-dropdown-button About Electrolux
            ul.footer__option-item-content.js-dropdown-content
                li.js-checkbox Our Company
                li.js-checkbox Design Innovation
                li.js-checkbox Environment & Sustainability
                li.js-checkbox Career
                li.js-checkbox Global Leader

        .footer__option-item
            .footer__option-item-title.hide-before.hide-after Promotions
            .footer__option-item-title.hide-before.hide-after Where to buy
.container.footer__list 
    include footerConnection.pug 