.footer__connect
    .footer__connect-social 
        .footer__connect-social-icons 
            img(src='./src/images/logo/facebook.png').footer__connect-icon
            img(src='./src/images/icon/icon-p.png').footer__connect-icon
            img(src='./src/images/logo/youtube.png').footer__connect-icon
            img(src='./src/images/icon/twitter.png').footer__connect-icon
        .footer__connect-infor Electroluxgroup.com | Electrolux Professional | Newsroom | Financial Information          
    .footer__connect-download
        .footer__connect-download--button Download Electrolux Life App 
        .footer__connect-download--option 
            .footer__connect-download--store
                img(src='./src/images/logo/App Store.png')
            .footer__connect-download--store
                img(src='./src/images/logo/Play Store.png')
.footer__bottom
    .footer__connect-term Terms & Conditions | Data Protection Policy | Cookie Guideline |  Sitemap          
    .footer__connect-copyright Copyright 2020 Electrolux - All Rights Reserved.
