.menu__content
    .menu__content-heading.js-open-submenu
        .menu__content-heading-title
            img.menu__content-heading-img(src='./src/images/icon/user.png')
            span.menu__content-heading-span Sign in
        span.menu__content-heading-icon
            img(src='./src/images/icon/chevron-right.png').menu__content-heading-img
        .menu__subMenu.js-submenu
            .menu__subMenu-heading.js-close-submenu Account
            .menu__subMenu-item Washing machines
            .menu__subMenu-item Dryers 
            .menu__subMenu-item Irons
            .menu__subMenu-item Garments steamers
    .menu__content-productList
        .menu__content-heading.js-open-submenu
            a.menu__content-heading-title(href='#') Laundry 
            span.menu__content-heading-icon
                img(src='./src/images/icon/chevron-right.png').menu__content-heading-img
            .menu__subMenu.js-subMenu
                .menu__subMenu-heading.js-close-subMenu Laundry
                .menu__subMenu-item Washing machines
                .menu__subMenu-item Dryers 
                .menu__subMenu-item Irons
                .menu__subMenu-item Garments steamers
        .menu__content-heading.js-open-submenu
            a.menu__content-heading-title(href='#') Floor 
            span.menu__content-heading-icon
                img(src='./src/images/icon/chevron-right.png').menu__content-heading-img
            .menu__subMenu.js-subMenu
                .menu__subMenu-heading.js-close-subMenu Floor
                .menu__subMenu-item Washing machines
                .menu__subMenu-item Dryers 
                .menu__subMenu-item Irons
                .menu__subMenu-item Garments steamers
        .menu__content-heading.js-open-submenu.disable
            a.menu__content-heading-title(href='#') Laundry 
            span.menu__content-heading-icon
                img(src='./src/images/icon/chevron-right.png').menu__content-heading-img
            .menu__subMenu.js-subMenu
                .menu__subMenu-heading.js-close-subMenu Laundry
                .menu__subMenu-item Washing machines
                .menu__subMenu-item Dryers 
                .menu__subMenu-item Irons
                .menu__subMenu-item Garments steamers
        .menu__content-heading.js-open-submenu.disable
            a.menu__content-heading-title(href='#') Laundry 
            span.menu__content-heading-icon
                img(src='./src/images/icon/chevron-right.png').menu__content-heading-img
            .menu__subMenu.js-subMenu
                .menu__subMenu-heading.js-close-subMenu Laundry
                .menu__subMenu-item Washing machines
                .menu__subMenu-item Dryers 
                .menu__subMenu-item Irons
                .menu__subMenu-item Garments steamers
        .menu__content-heading.menu__content-heading--noSub
            a.menu__content-heading-title(href='#') Promotions
        .menu__content-heading.menu__content-heading--noSub
            a.menu__content-heading-title(href='#') Blog
    .menu__footer
        a.menu__footer-a(href='#')
            img(src='./src/images/icon/heart-outline-icon.svg')
            span WishList
    .menu__footer
        a.menu__footer-a(href='#')
            img(src='./src/images/icon/user.png')
            span Language
.menu__overlay.js-close-menu 
    .overlay__heading
        span.overlay__heading-icon
            img(src='./src/images/icon/close-light-icon.svg')