.cartpage__price {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white-color;
  z-index: 9999;
  @include large {
    position: relative;
    background-color: transparent;
    @include toRem(padding-left, 20);
    @include toRem(padding-right, 20);
  }
  &-container {
    @include toRem(padding, 15);
    box-shadow: -1px -1px $secondary-color;
    background-color: $white-color;
    @include large {
      background-color: transparent;
      @include toRem(padding-bottom, 40);
      @include toRem(padding-right, 30);
      box-shadow: none;
    }
  }
  &-total {
    @include flexBox(center, space-between);
    @include toRem(margin-bottom, 10);
    @include large {
      @include toRem(margin-top, 10);
      @include toRem(margin-bottom, 0);
    }
    &--title {
      text-transform: uppercase;
      font-weight: 600;
      @include font-size(12);
      @include toRem(line-height, 20);
      @include large {
        @include toRem(font-size, 22);
      }
    }
    &--icon {
      transform: rotate(-90deg);
      @include toRem(width, 10);
      @include toRem(height, 10);
      @include large {
        display: none;
      }
    }
    &--number {
      @include flexBox(center, center);
      @include toRem(gap, 10);
      span {
        font-weight: 600;
        @include font-size(18);
        @include toRem(line-height, 26);
        position: relative;
      }
    }
  }
  &-noted {
    @include large {
      opacity: 0.5;
      @include flexBox(flex-end, flex-end);
      @include toRem(margin-bottom, 20);
      font-weight: 400;
      @include font-size(14);
    }
  }
  &-free {
    font-weight: 400;
    @include font-size(14);
    @include toRem(margin-bottom, 16);
  }
  &-secure {
    font-weight: 600;
    @include font-size(14);
  }
}
