.cartpage__gift {
    @include flexBox(stretch);
    border: 1px solid $primary-color;
    margin: 5px 0;
    padding-bottom: 10px;
    position: relative;
    &-button {
      width: 100%;
      @include flexBox(center, center);
      gap: 10px;
      border-radius: 0px;
      border: none;
      pointer-events: none;
      @include large {
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
      }
    }
    &-cost {
      @include flexBox(center);
      width: fit-content;
      gap: 12px;
      margin-right: 20px;
    }
    &-img {
      @include flexBox(center, center);
      height: 100%;
    }
    &-left {
      width: 40%;
      @include large {
        width: 20%;
      }
    }
    &-name {
      padding-top: 10px;
      font-weight: 600;
      @include font-size(14);
      max-width: 70%;
    }
    &-quantity {
      font-weight: 600;
      @include font-size(14);
    }
    &-right {
      width: 60%;
      @include large {
        width: 80%;
      }
    }
  }