.cart {
  @include flexBox($dir: column);
  position: absolute;
  z-index: 50;
  height: 0;
  width: 474px;
  top: 50px;
  right: -40px;
  background: #fff;
  overflow: hidden;
  box-shadow: -1px 1px 0px #dfe7ea;
  // border: 1px solid rgba(223, 231, 243, 0.4);
  // &:before {
  //   content: "";
  //   display: block;
  //   width: 0;
  //   height: 0;
  //   top: 0px;
  //   right: 50px;
  //   border-left: 10px solid transparent;
  //   border-right: 10px solid transparent;
  //   border-bottom: 10px solid $secondary-color;
  //   position: absolute;
  //   margin: auto;
  //   z-index: 99;
  // }
  &__header {
    @include flexBox(center, $dir: row);
    gap: 5px;
    padding: 15px;
    height: 50px;
    border-bottom: 1px solid $secondary-color;
    font: 400 16px/24px $font-primary;
    &-number {
      opacity: 0.5;
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
    }
  }
  &__container {
    @include flexBox($wrap: no-wrap, $dir: column);
    padding-right: 0 15px;
    // display: none;
    height: 250px;
    overflow-y: scroll;
    &-detail {
      @include flexBox(flex-start, $dir: column);
      max-width: 220px;
      height: 100%;
      padding-top: 10px;
    }
    &-decision {
      @include flexBox(flex-end, flex-start, wrap, column);
      flex-grow: 1;
      gap: 8px;
      height: 100%;
      padding-top: 10px;
    }
  }
  &__item {
    @include flexBox(center, $dir: row);
    // height: 100%;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $secondary-color;
    &-img {
      width: 70px;
      height: 150px;
      @include flexBox(center, center);
      &--imgSrc { 
        width: 100%;
        object-fit: contain;
      }
    }
    &-name {
      font: 600 14px/18px $font-primary;
      margin-bottom: 3px;
    }
    &-code {
      text-transform: uppercase;
      font: 400 12px/16px $font-primary;
      margin-bottom: 8px;
    }
    &-quantity {
      @include flexBox();
      height: 30px;
      &--number {
        font: 600 12px/20px $font-primary;
      }
    }
    &-price {
      font: 600 14px/22px $font-primary;
      &:after {
        content: ' đ';
      }
    }
    &-delete {
      @include flexBox(flex-end, flex-end, wrap, column);
      opacity: 0.5;
      &--small {
        width: 13px;
        img {
          width: 100%;
        }
      }
    }
  }
  &__footer {
    border-top: 1px solid $secondary-color;
    height: 150px;
    &-total {
      padding: 20px 15px 13px;
      @include flexBox(center, space-between);
    }
    &-title {
      text-transform: uppercase;
      font: 600 16px/24px $font-primary;
    }
    &__number {
      font: 400 16px/24px $font-primary;
    }
    &-action {
      @include flexBox();
      gap: 8px;
      padding: 0 15px;
      margin-bottom: 15px;
      &-button {
        @include flexBox(center, center);
        height: 45px;
        width: calc((100% - 8px) / 2);
      }
    }
    &-extra {
      height: 41px;
      background-color: $secondary-color;
      padding: 0 15px;
      @include flexBox(center);
      gap: 10px;
      &-content {
        @include flexBox(center);
        font: 400 14px/22px $font-primary;
      }
    }
  }
  &__empty {
    width: 100%;
    height: 400px;
    @include flexBox(center, center, wrap, column);
    gap: 20px;
  }

  // .quantity-button {
  //   border: 1px solid $secondary-color;
  //   width: 30px;
  //   height: 100%;
  //   position: relative;
  //   @include flexBox(center, center, wrap, column);
  //   span {
  //     position: absolute;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     font-size: 20px;
  //     &:first-child {
  //       transform: translateY(-50%);
  //     }
  //   }

  // }
  .price-out-stock {
    color: #fe392f;
  }

  .hide {
    display: none;
  }
}
