.cartpage {
  &__add {
    margin: 15px 0;
    @include flexBox(stretch);
    background-color: $secondary-color;
    padding: 15px;
    @include large {
      padding: 10px 20px;
    }
    &-btn {
      order: 3;
      padding: 8px 30px;
      @include large {
        order: 2;
      }
    }
    &-left {
      width: 20%;
      @include large {
        margin-right: 10px;
      }
    }
    &-right {
      @include flexBox(center);
      width: 80%;
      @include large {
        width: calc(80% - 10px);
      }
    }
    &-increase,
    &-number,
    &-decrease {
      width: 35px;
      height: 35px;
    }
    &-img {
      @include flexBox(center, center);
      padding: 0 10px 10px 0;
      width: 100%;
      @include large {
        padding: 15px;
      }
    }
    &-tax {
      order: 1;
      width: 100%;
      text-align: end;
      @include large {
        order: 2;
        width: auto;
      }
    }
  }
  &__header {
    @include flexBox(center, center);
    height: 65px;
    border-bottom: 1px solid $secondary-color;
    padding: 0 20px;
    @include large {
      justify-content: flex-start;
      width: 82%;
      margin: 0 auto;
      position: relative;
    }
    &-logo {
      @include large {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__left {
    @include large {
      width: calc(100% * 7 / 12);
      padding: 0 20px;
    }
  }
  &__right {
    z-index: 10;
    @include large {
      max-width: calc(100% / 3);
      flex: 0 0 calc(100% / 3);
      margin-left: calc(100% / 12);
    }
  }
  &__middle {
    // width: calc(100% / 12);
    margin-left: calc(100% / 12);
  }
  &__heading {
    font: 600 40px/48px $font-primary;
    padding: 20px 0;
    @include large {
      padding: 40px 20px;
    }
  }
  &__gift {
    @include flexBox(stretch);
    border: 1px solid $primary-color;
    margin: 5px 0;
    padding-bottom: 10px;
    position: relative;
    &-button {
      width: 100%;
      @include flexBox(center, center);
      gap: 10px;
      border-radius: 0px;
      border: none;
      pointer-events: none;
      @include large {
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
      }
    }
    &-cost {
      @include flexBox(center);
      width: fit-content;
      gap: 12px;
      margin-right: 20px;
    }
    &-img {
      @include flexBox(center, center);
      height: 100%;
    }
    &-left {
      width: 40%;
      @include large {
        width: 20%;
      }
    }
    &-name {
      padding-top: 10px;
      font: 600 14px $font-primary;
      max-width: 70%;
    }
    &-quantity {
      font: 600 14px $font-primary;
    }
    &-right {
      width: 60%;
      @include large {
        width: 80%;
      }
    }
  }
  &__more {
    @include flexBox(stretch);
    margin-bottom: 40px;
    &--buy {
      padding-left: 20px;
      border: 1px solid $secondary-color;
    }
    &-item {
      @include flexBox(flex-start, flex-start, wrap, column);
      width: 50%;
      @include large {
        width: calc(100% / 3);
      }
      &--bundle {
        background-color: $primary-color;
        @include flexBox(stretch, $dir: column);
        color: #fff;
        padding-bottom: 20px;
        @include large {
          padding: 0;
        }
      }
      &--buy {
        padding: 0 20px;
      }
    }
    &-img {
      margin: 0 auto;
    }
    &-button {
      width: 100%;
      height: 45px;
      font: 600 14px $font-primary;
      border: 1px solid $primary-color;
      border-radius: 0;
      &--bundle {
        margin: auto;
        width: 80%;
      }
    }
    &-code {
      font: 600 14px $font-primary;
      margin-bottom: 4px;
    }
    &-cost {
      font: 600 24px $font-primary;
      margin: 16px 0;
      &--tax {
        font-size: 16px;
        &:after {
          content: "(tax included)";
          font: 400 14px $font-primary;
        }
      }
    }
    &-title,
    &-save,
    &-price,
    &-oldprice,
    &-name {
      @include flexBox(center, center);
      // color: #fff;
    }
    &-title {
      @include flexBox(center, center);
      text-transform: capitalize;
      height: 57px;
    }
    &-save {
      background-color: red;
      border: none;
      border-radius: 0;
      color: #fff;
    }
    &-name {
      font: 600 20px $font-primary;
      margin: 4px 0 8px;
    }
    &-price {
      font: 600 30px $font-primary;
      @include large {
        font: 600 30px $font-primary;
      }
    }
    &-oldprice {
      font: 400 14px $font-primary;
      margin-bottom: 25px;
    }
  }
  &__product {
    @include flexBox(stretch);
    margin: 20px 0 40px;
    &-checkbox {
      @include flexBox(flex-end);
      gap: 10px;
      &--checkmark {
        margin-right: 10px;
      }
    }
    &-code {
      text-transform: uppercase;
      font: 400 14px/21px $font-primary;
    }
    &-cost {
      text-align: center;
    }
    &-delete {
      align-self: flex-start;
    }
    &-detail {
      @include flexBox(center, space-between);
      margin-bottom: 10px;
      width: 100%;
      &--install {
        align-items: flex-end;
      }
    }
    &-imgsrc {
      width: 100%;
    }
    &-outstock {
      font: 600 14px $font-primary;
      &-note {
        font-weight: 400;
      }
    }
    &-left {
      @include flexBox(center, flex-start, wrap, column);
      width: 20%;
    }
    &-link {
      position: relative;
      width: 20%;
      height: 50px;
      &:before {
        content: "";
        width: 35px;
        height: 50px;
        border: solid $primary-color;
        padding: 3px;
        position: absolute;
        top: 15px;
        left: 50%;
        border-width: 0 0 1px 1px;
      }
    }
    &-name {
      font: 600 18px/26px $font-primary;
      width: calc(100% - 20px);
      @include large {
        max-width: 70%;
      }
    }
    &-price {
      text-align: end;
      &--new {
        font: 600 16px/22px $font-primary;
      }
      &--old {
        font: 400 14px/19px $font-primary;
      }
    }
    &-quantity {
      @include flexBox(stretch);
      &--add {
        order: 3;
        @include large {
          order: 1;
        }
      }
      &--decrease,
      &--increase {
        position: relative;
        &:before {
          content: "";
          width: 14px;
          height: 2px;
          position: absolute;
          top: calc(50% - 1px);
          background-color: #011e41;
          left: calc(50% - 7px);
        }
      }
      &--increase {
        &:after {
          content: "";
          width: 2px;
          height: 14px;
          position: absolute;
          top: calc(50% - 7px);
          background-color: #011e41;
          left: calc(50% - 1px);
        }
      }
      &--number {
        font-size: 16px;
      }
    }
    &-right {
      @include flexBox();
      width: 80%;
    }
  }
  &__promotion {
    @include flexBox(stretch);
    margin: 20px 0;
    &-input {
      flex-grow: 1;
    }
  }
  &__apply {
    width: 120px;
  }
  &__price {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
    @include large {
      position: relative;
      background-color: transparent;
      padding: 0 20px;
    }
    &-container {
      padding: 15px;
      box-shadow: -1px -1px $secondary-color;
      background-color: #fff;
      @include large {
        background-color: transparent;
        padding: 0 0 40px 30px;
        box-shadow: none;
      }
    }
    &-total {
      @include flexBox(center, space-between);
      margin-bottom: 10px;
      @include large {
        margin: 10px 0 0 0;
      }
      &--title {
        text-transform: uppercase;
        font: 600 12px/20px $font-primary;
        @include large {
          font-size: 22px;
        }
      }
      &--icon {
        transform: rotate(-90deg);
        width: 10px;
        height: 10px;
        @include large {
          display: none;
        }
      }
      &--number {
        @include flexBox(center, center);
        gap: 10px;
        span {
          font: 600 18px/26px $font-primary;
          position: relative;
        }
      }
    }
    &-noted {
      @include large {
        opacity: 0.5;
        @include flexBox(flex-end, flex-end);
        margin-bottom: 20px;
        font: 400 14px $font-primary;
      }
    }
    &-free {
      font: 400 14px $font-primary;
      margin-bottom: 16px;
    }
    &-secure {
      font: 600 14px $font-primary;
    }
  }
  &__sub {
    display: none;
    height: 0;
    background-color: #fff;
    @include large {
      background-color: transparent;
      @include flexBox(stretch, $dir: column);
      height: auto;
    }
    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #011e41;
      opacity: .85;
      z-index: -10;
    }
    &-item {
      @include flexBox(center, space-between);
      font: 600 12px/26px $font-primary;
      text-transform: uppercase;
    }
    &-header {
      height: 50px;
      @include flexBox(center, space-between);
      border-bottom: 1px solid $secondary-color;
      margin-bottom: 15px;
      &-title {
        font: 600 16px $font-primary;
        text-transform: uppercase;
      }

      &-icon {
        transform: rotate(90deg);
      }
    }
  }
  &__checkout {
    height: 45px;
    margin-bottom: 8px;
  }
  &__title {
    font: 600 16px/26px $font-primary;
    text-transform: uppercase;
    border-bottom: 1px solid $secondary-color;
    margin: 20px 0;
    padding-bottom: 10px;
  }
  &__return {
    width: 150px;
    position: relative;
    margin: 15px 0px;
    padding-left: 20px;
    font: 600 14px $font-primary;
    cursor: pointer;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      border: solid $primary-color;
      padding: 3px;
      position: absolute;
      transform: rotate(-45deg);
      top: 4px;
      border-width: 2px 0 0 2px;
      left: 0;
    }
  }
  &__container {
    max-width: 82%;
    display: block;
    margin: 0 auto;
  }
  &-box {
    width: 40px;
    height: 40px;
  }
  &__footer {
    margin-bottom: 200px;
    &-header {
      border-top: 1px solid $secondary-color;
      border-bottom: none;
      padding: 40px 0 20px;
      margin: 0;
    }
    &-list {
      list-style: none;
    }
    &-method {
      position: relative;
      padding-left: 25px;
      &:before {
        content: "";
        width: 7px;
        height: 15px;
        border: solid $primary-color;
        padding: 3px;
        position: absolute;
        transform: rotate(45deg);
        top: -5px;
        border-width: 0 3px 3px 0;
        left: 0;
      }
    }
    &-logos {
      @include flexBox();
      gap: 10px;
      margin: 20px 0;
    }
  }
  .row {
    @include flexBox($jc: space-between);
  }

  .expand {
    @include flexBox(stretch, $dir: column);
    height: auto;
    z-index: 9999;
    
  }

  .wrapper-cart {
    @include large {
      height: 100%;
      background: linear-gradient(90deg, #fff calc( 61.6%), #f2f5f7 calc(38.4%));
      position: relative;
    }
  }

  .hide-on-mobile {
    display: none;
    @include large {
      display: flex;
    }
  }
  .hide-on-desktop {
    @include large {
      display: none;
    }
  }
}
