.category {
  margin-top: 20px;
  &__header {
    text-transform: uppercase;
    font-weight: 600;
    @include font-size(18);
    line-height: 25px;
    margin-bottom: 8px;
    @include large {
      margin-top: 40px;
      @include font-size(20);
    }
  }
  &__content {
    margin-right: 20px;
    height: 70px;
    @include large {
      height: 200px;
    }
    border-bottom: 1px solid $primary-color;
  }
  &__item {
    font-weight: 400;
    @include font-size(14);
    line-height: 18px;
    min-width: fit-content;
    height: 60px;
    margin: 0 8px;
    padding: 11px 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    &:hover {
      border: 2px solid $primary-color;
      border-radius: 2px;
      font-weight: 600;
      opacity: 0.8;
    }
    @include flexBox(center, center, wrap, row);
    &-type {
      @include flexBox(center, center);
      text-align: center;
      @include large {
        width: 100%;
      }
    }
    @include large {
      height: 160px;
      width: 130px;
      max-width: 135px;
      margin: 0 10px;
      padding: 25px 1px;
      border: none;
    }
  }
  @include large {
    margin-top: 40px;
  }
  .selected {
    border: 2px solid $primary-color;
    border-radius: 1px;
    font-weight: 600;
  }
}
