.checkBox {
    padding-left: 0;
    line-height: 22px;
    font-size: 1.14286rem;
    display: flex;
    &__label{
      font: 400 16px/22px $font-primary;
    }
  }
  
  .checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    border: 1px solid #7a8a9c;
    height: 22px;
    width: 22px;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    align-self: center;
    top: 0;
  }
  
  .checkBox:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  .checkBox input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkBox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkBox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    transform: rotate(45deg);
    left: 7px;
    width: 6px;
    height: 12px;
    top: 3px;
  }
  
  