.filter {
  &__container {
    @include flexBox(center, space-between);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $white-color;
    height: 80px;
    z-index: 10;
    @include large {
      position: relative;
      // width: 100%;
      &__button-wrap-reset {
        @include flexBox(center, space-between);
        width: 15%;
      }
    }
  }
  &__wrapper {
    width: 100%;
    @include flexBox(center, space-between);
    @include large {
      height: 40px;
      margin: 0;
    }
  }
  &__button {
    min-width: 120px;
    height: 45px;
    font-weight: 600;
    @include font-size(16);
    line-height: 19px;
    position: relative;
    cursor: pointer;
    &-detail {
      @include large {
        margin: 0 5px;
      }
    }
    &-item {
      @include flexBox(center, center);
      gap: 5px;
      position: relative;
    }
    &-reset {
      display: none;
      @include large {
        @include flexBox();
        gap: 5px;
        cursor: pointer;
      }
    }
    &:first-child {
      @include large {
        pointer-events: none;
      }
    }
    &:last-child {
      @include large {
        text-transform: capitalize;
        justify-content: flex-end;
      }
    }
    @include large {
      border: none;

      @include flexBox(center);
      padding: 0;
      width: 20%;

      &-number {
        padding: 0 30px;
        width: 60%;
        text-transform: capitalize;
        &:after {
          content: " Products";
          margin-left: 10px;
        }
      }
    }
    &:hover {
      opacity: 1;
    }
    &-wrap-reset {
      @include flexBox(center, space-between);
      width: 17%;
    }
  }
  .active {
    bottom: 0;
    opacity: 1;
    @include large {
      height: 120px;
    }
  }
  .hide-on-mobile {
    display: none;
    @include large {
      display: flex;
    }
  }
}
