.filter {
  @include flexBox(center, space-between);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 80px;
  z-index: 10;
  &__wrapper {
    width: 100%;
    @include flexBox(center, space-between);
    @include large {
      height: 40px;
      margin: 0;
    }
  }
  &__button {
    width: 120px;
    height: 45px;
    font: 600 16px/19.2px $font-primary;
    position: relative;
    cursor: pointer;
    &-detail {
      @include large {
        margin: 0 5px;
      }
    }
    &-item {
      @include flexBox(center);
      gap: 5px;
      position: relative;
    }
    &-reset {
      display: none;
      @include large {
        @include flexBox();
        gap: 5px;
        cursor: pointer;
      }
    }
    &:first-child {
      @include large {
        pointer-events: none;
      }
    }
    &:last-child {
      @include large {
        text-transform: capitalize;
        justify-content: flex-end;
      }
    }
    @include large {
      @include flexBox(center);
      padding: 0;
      border: none;
      width: 20%;
      &-number {
        padding: 0 30px;
        width: 60%;
        text-transform: capitalize;
        &:after {
          content: " Products";
          margin-left: 10px;
        }
      }
    }
  }
  @include large {
    position: relative;
    width: 100%;
    &__button-wrap-reset {
      @include flexBox(center, space-between);
      width: 15%;
    }
  }

  &-sort-selection {
    position: fixed;
    width: 100%;
    height: 100%;
    @include flexBox(center, center, wrap, column);
    bottom: -100%;
    left: 0;
    transition: 0.5s;
    @include large {
      position: absolute;
      top: 40px;
      bottom: 0;
      height: 0;
      overflow: hidden;
    }
    &--overlay {
      width: 100%;
      height: 80%;
      background-color: black;
      opacity: 0.5;
      @include large {
        display: none;
      }
    }
    &--list {
      background-color: #fff;
      width: 100%;
      height: 20%;
      @include flexBox(center, center, wrap, column);
      button {
        border: none;
        width: 100%;
        padding: 5px;
        cursor: pointer;
        background-color: #fff;
      }
      @include large {
        height: 100%;
        justify-content: unset;
      }
    }
  }
}

.active {
  bottom: 0;
  @include large {
    height: 120px;
  }
}
