.footer {
  @include flexBox();
  &__container {
    @include large {
      @include flexBox($dir: column);
      height: 375px;
    }
  }
  &__option {
    background-color: $primary-color;
    color: #fff;
    padding-top: 10px;
    &-item {
      width: 100%;
      @include large {
        @include flexBox($dir: column);
        width: 150px;
        pointer-events: none;
        margin-top: 40px;
        margin-right: 100px;
      }
      &:last-child {
        margin-top: 15px;
      }
      &-title {
        position: relative;
        text-transform: uppercase;
        position: relative;
        display: block;
        font: 600 14px/22px $font-primary;
        border-bottom: 1px solid #fff;
        color: #fff;
        padding: 8px 0;
        text-decoration: none;
        &:before {
          position: absolute;
          content: "";
          width: 2px;
          height: 14px;
          top: calc(50% - 6px);
          right: 22px;
          background-color: #fff;
        }
        &:after {
          position: absolute;
          content: "";
          width: 16px;
          height: 2px;
          top: calc(50%);
          right: 15px;
          background-color: #fff;
        }
        @include large {
          border: none;
          &:before, &:after {
            display: none;
          }
        }
      }
      &-content {
        padding: 0;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        li {
          padding: 5px;
          font: 400 14px/30px $font-primary;
          @include large {
            padding: 0;
            line-height: 35px;
          }
        }
        @include large {
          @include flexBox(column);
          height: auto;
        }
      }
    }
   
    @include large {
      @include flexBox($dir: column);
    }
  }
  &__connect {
    @include flexBox(center, space-between);
    margin-top: 16px;
    &-icon {
      margin: 0 15px 15px 0;
    }
    &-infor {
      margin-bottom: 15px;
    }
    &-download {
      width: 40%;
      &--option {
        @include flexBox();
        gap: 10px;
      }
      @include flexBox();
      &--button {
        padding: 5px 0;
      }
      &--store {
      }
    }
    &-term, &-copyright {
      margin: 10px;
      margin-left: 0;
    }
  }
}


