.header__hero {
    &-wrapper {
      position: relative;
      margin:0 ;
      @include toRem(margin-left, -15);
      @include toRem(margin-right, -15);
      @include flexBox();
      @include large{
        @include toRem(height, 368);
      }
    }
    &-img {
      width: 100%;
      @include toRem(height, 200);
      object-fit: cover;
      @include large{
        height: 100%;
      }
    }
    &-inner {
      @include flexBox(center, center);
      width: 100%;
      @include toRem(height, 74);
      background-color: $primary-color;
      text-transform: capitalize;
      font-weight: 600;
      @include font-size(26);
      @include toRem(line-height, 34);
      color: $white-color;
      @include large {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15%;
        @include toRem(width, 470);
        @include toRem(height, 148);
        @include toRem(padding-left, 55);
        justify-content: flex-start;
      }
    }
  }