.menu {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
  transition: 0.5s;
  overflow: hidden;
  
  &__footer {
    position: relative;
    &-a {
      @include flexBox(center);
      @include toRem(gap, 10);
      text-decoration: none;
      color: $primary-color;
      @include font-size(16);
      position: relative;
      @include toRem(padding-top, 12);
      @include toRem(padding-bottom, 12);
      @include toRem(padding-right, 50);
      @include toRem(padding-left, 35);
      font-weight: 600;
      flex: 1;
    }
    &:before {
      content: " ";
      display: block;
      @include toRem(height, 1);
      width: 100%;
      background-color: $secondary-color;
      position: absolute;
      left: 0;
      bottom: top;
    }
  }
  &__overlay {
    flex-grow: 1;
    background-color: $overlay-dark;
    
  }
  .overlay__heading {
    position: relative;
    @include toRem(height, 60);
    @include toRem(min-width, 50);
    background-color: $primary-color;
    &-icon {
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  .active {
  @include flexBox(auto, flex-start, auto, column);
  transform: translateX(0);
  transition: transform 0.4s;
}
  
}

.showMenu {
  left: 0;
  transition: 0.5s;
}

