.menu__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid;
    height: 100%;
    @include toRem(width, 300);
    overflow-y: scroll;
    overflow-x: hidden;
    &-heading {
      @include flexBox(center, flex-end);
      &-span {
        @include toRem(height, 18);
        font-weight: 600;
        display: block;
        position: relative;
        cursor: pointer;
        
      }
      &-img {
        height: 100%;
      }
      &-title {
        font-weight: 600;
        flex-grow: 1;
        align-self: center;
        text-decoration: none;
        @include font-size(16);
        @include toRem(height, 48);
        @include toRem(line-height, 24);
        @include toRem(padding-top, 15);
        @include toRem(padding-top, 15);
        @include toRem(padding-right, 50);
        @include toRem(padding-left, 40);
        color: $primary-color;
        cursor: pointer;
        @include flexBox(center, unset);
        @include toRem(gap, 10);
      }
      &--nosub {
        pointer-events: none;
      }
      &-icon {
        @include toRem(padding-right, 20);
        @include toRem(height, 15);
      }
      &-img {
        height: 100%;
      };
    }
    &-productList {
      @include toRem(padding-bottom, 25);
      @include toRem(margin-top, 25);
    }
  }