.product {
  @include flexBox();
  @include large {
    margin: 0;
    display: flex;
    margin-left: 20px;

    &__list {
      @include flexBox(stretch);
      @include large {
        gap: 40px;
      }
    }
  }
  &__item {
    position: relative;
    @include flexBox();
    margin-bottom: 40px;

    @include large {
      @include flexBox($dir: column);
      width: calc((100% - 80px) / 3);
      margin-bottom: 40px;
    }
    &-heart {
      position: absolute;
      top: 0;
      width: 30px;
      height: 30px;
      right: 15px;
      background-image: url(/src/images/icon/heart-outline-icon.svg);
      @include large {
        right: 0;
      }
    }
    &-tag {
      @include flexBox();
      gap: 8px;
      @include large {
        position: absolute;
        flex-direction: column;
        width: auto;
        height: 100px;
      }
    }
    &-img {
      width: 110px;
      position: relative;
      img {
        width: 100%;
      }
      @include large {
        margin-top: 28px;
        width: 100%;
      }
      &--content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        @include large {
          display: block;
          margin: 0 auto;
        }
      }
    }
    &-detail {
      width: calc(100% - 110px);
      @include large {
        width: 100%;
      }
    }
    &-code {
      text-transform: uppercase;
      font-weight: 600;
      @include font-size(14);
      line-height: 22px;
    }
    &-name {
      font-weight: 600;
      @include font-size(18);
      line-height: 22px;
      min-height: 50px;
      @include large {
        font-size: 20px;
        line-height: 26px;
        height: 80px;
      }
    }
    &-rate {
      @include flexBox(baseline);
      gap: 5px;
      &--number {
        font-weight: 400;
        @include font-size(14);
        line-height: 16.8px;
        width: fit-content;
        &:before {
          content: "(";
        }
        &:after {
          content: ")";
        }
        @include large {
          line-height: 24px;
        }
      }
    }
    &-price {
      @include flexBox(baseline);
      gap: 5px;
      @include large {
        margin-top: auto;
        order: 2;
      }
      &--old {
        font-weight: 400;
        @include font-size(14);
        line-height: 28px;
        text-decoration: line-through;
        &:after {
          content: " đ";
          margin-left: 2px;
        }
      }
      &--new {
        font-weight: 600;
        @include font-size(18);
        line-height: 28px;
        @include large {
          @include font-size(24);
        }
        &:after {
          margin-left: 2px;
          content: " đ";
        }
      }
    }
    &-suggestion {
      @include flexBox(center);
      height: 46px;
      // gap: 2px;
      @include large {
        display: none;
      }
    }
    &-interest {
      width: 15%;
      height: 100%;
      background-color: $primary-color;
      color: $white-color;
      @include flexBox(center, center);
      &--number {
        font-weight: 600;
        @include font-size(18);
        @include flexBox($dir: column);
        &:after {
          content: "interest";
          text-transform: uppercase;
          font-weight: 600;
          @include font-size(8);
          line-height: 10px;
        }
      }
    }
    &-payment {
      @include flexBox(center);
      gap: 2px;
      height: 100%;
      width: 85%;
      padding: 5px;
      background-color: $secondary-color;
    }
    &-description {
      list-style-type: disc;
      padding-left: 15px;
      li {
        margin-bottom: 6px;
        font-weight: 400;
        @include font-size(14);
        line-height: 24px;
      }
      @include large {
        order: 1;
      }
      &--item {
        font-weight: 400;
        @include font-size(14);
        line-height: 24px;
      }
    }
    &-action {
      @include flexBox();
      gap: 5px;
      @include large {
        flex-direction: row-reverse;
        gap: 10px;
        order: 3;
      }
      &--add,
      &--research,
      &--out {
        height: 45px;
        width: 100%;
        font-weight: 600;
        @include font-size(14);
        line-height: 16.8px;
        @include large {
          width: calc(50% - 5px);
        }
      }
      &--out {
        color: red;
      }
    }
    &-compare {
      width: auto;
      &-label {
        padding-left: 10px;
        font-weight: 400;
        @include font-size(14);
        line-height: 22px;
      }
      @include large {
        order: 4;
      }
    }
  }
  .heart-active {
    background-image: url(/src/images/icon/heart-filled-icon.svg);
  }

  .price-number {
    &:after {
      content: " đ";
    }
  }
  .active {
    bottom: 0;
  }
  .design {
    @include flexBox($dir: column);
    margin: 0 auto;
  }
}
