.product {
  @include flexBox();
  @include large {
    margin: 0;
    display: flex;
    margin-left: 20px;

    &__list {
      @include flexBox(stretch);
      @include large {
        gap: 40px;
      }
    }
  }
 
  .heart-active {
    background-image: url(/src/images/icon/heart-filled-icon.svg);
  }

  .price-number {
    &:after {
      content: " đ";
    }
  }
  .active {
    bottom: 0;
  }
  .design {
    @include flexBox($dir: column);
    margin: 0 auto;
  }
}
