.tag {
  border: 1px solid $primary-color;
  padding: 0;
  @include toRem(padding-left, 8);
  @include toRem(padding-right, 8);
  text-transform: uppercase;
  font-weight: 600;
  @include font-size(14);
  @include toRem(line-height, 26);
  @include toRem(border-radius, 2);
  z-index: 1;
  &-wrapper {
    @include large{
      width: 100%;
      @include toRem(margin-bottom, 30);
    }
  }
  &--new,
  &--gift {
    @include flexBox(center, center);
    @include toRem(gap, 4);
  }
  &--discount {
    background-color: $tag-discount-color;
    border: none;
  }
  &--gift {
    position: relative;
    
    &:before {
      position: absolute;
      background-image: url(/src/images/icon/gift.png);
      @include toRem(width, 20);
      @include toRem(height, 20);
      top: 0;
      left: 0;
    }
  }
  &--bundle,
  &--discount {
    @include flexBox(center, center);
    color: $white-color;
    position: relative;
    @include large {
      @include toRem(height, 54);
      @include toRem(width, 57);
      font-weight: 600;
      @include font-size(12);
      @include toRem(line-height, 16);
      &:before,
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 0;
        height: 0;
        @include toRem(bottom, -19);
        border-top: 0px solid transparent;
        border-bottom: 20px solid transparent;
      }
      &:before {
        left: 0;
        border-left: 29px solid #fe392f;
      }
      &:after {
        right: 0;
        border-right: 29px solid #fe392f;
      }
    }
  }
  &--bundle {
    background-color: $primary-color;

    &:before {
      left: -0.5px;
      border-left: 29px solid $primary-color;
    }
    &:after {
      right: -1px;
      border-right: 29px solid $primary-color;
    }
  }
}
