extends layout.pug

block header 
    .header__wrapper 
        .header__logo 
            img(src="./src/images/logo/electrolux_logo.png")
        .header__navigation
            .header__navigation-link.hide-on-mobile 
                .header__navigation-button Appliances
                .header__navigation-button Support
                .header__navigation-button Promotions
            ul.header__navigation-icons 
                li.header__navigation-icon 
                    .btn.btn-no-border.count__wrapper
                        img(src="./src/images/icon/search.svg").header__navigation-icon--img.counter__icon
                        span.counter__number.js-number-wish 0
                li.header__navigation-icon.hide-on-mobile 
                    .btn.btn-no-border 
                        img(src="./src/images/icon/user.png").header__navigation-icon--img
                li.header__navigation-icon.js-cart 
                    .btn.btn-no-border.count__wrapper.js-cart-open
                        img(src="./src/images/icon/Cart.svg").header__navigation-icon--img.count__icon
                        span.count__number.js-number-cart 0
                    .cart.cart-active__item 
                        block miniCart
                li.header__navigation-icon.js-open-menu-hide-on-desktop 
                    .btn.btn-no-border 
                        img(src="./src/images/icon/hamburger.svg").header__navigation-icon--img
                li.header__navigation-icon.header__navigation-language.js-language.hide-on-mobile EN 
                    img(src="./src/images/icon/chevron-down.png").header__navigation-language--icon
                    ul.header__navigation-language-dropdown.js-language-dropdown.hide
                        li(data-after="EN") English
                        li(data-after="VN") Vietnamese
    .header__breadcrumb
        button.header__breadcrumb-mobile.hide-on-desktop.btn.btn-no-border 
            a(href="#").header__breadcrumb-mobile--item Back to Homepage 
        ul.header__breadcrumb-desktop.hide-on-mobile 
            li.header-breadcrumb-desktop--item.disable Home    
            li.header-breadcrumb-desktop--item  
                a(href="#") Promotion  
    .header__hero 
        .header__hero-wrapper 
            img(src="./src/images/product/hero.png").header__hero-img
            .header__hero-inner Promotion