doctype html
html
  head
    title Training
    link(rel='stylesheet' href='./src/css/main.css')
   
  body
    .wrapper
      header
        .container.header#header
          block header
      section.container.category 
        block category 
      section.filter 
        block filter
      .container.product__container.flex
        block content
      .contact-icon
        a(href="tel:123-456-7890")
          img(src="./src/images/logo/contact-mobile.png").contact-icon--mobile.hide-on-desktop
        a(href="tel:123-456-7890")
          img(src="./src/images/logo/contact.png").contact-icon--desktop.hide-on-mobile
      footer#footer
        block footer
    script(src="/js/main.js")