extends header.pug

block miniCart 
    .item.cart__header 
        .cart__header-title Your cart 
        .cart__header-number.js-number-cart-item 
    .container.cart__container.js-cart-list.js-hide-on-none#cart-list 
    .item.cart__footer.js-hide-on-none 
        .cart__footer-total 
            .cart__footer-title total 
            .cart__footer-number.js-totalPrice 
        .cart__footer-action 
            .btn.cart__footer-action-button.js-open-cartpage
                a(href="cart.html") View cart 
            .btn.cart__footer-action-button Check out
        .cart__footer-extra 
            img(src="./src/images/icon/gift.png").cart__footer-extra-icon
            .cart__footer-extra-content Free Gift on all orders over 550.000 VND 
    .cart__empty
        img(src="./src/images/logo/empty-box.png")
        .cart__empty-content There are no items in your bag
