body {
  color: $primary-color;
  font-family: "Electrolux", serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
}

.btn {
  @include flexBox(center, center);

  border-radius: 3px;
  padding: 7px 12px;
  border: 1px solid $secondary-color;
  background-color: $white-color;
  font: 600 13px/18px "Electrolux", serif;
  text-transform: uppercase;
  color: $primary-color;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: all 0.3 ease-in-out;
  }
  &--primary {
    background-color: $primary-color;
    color: $white-color;
  }
  &-no-border {
    border: none;
  }
}
.showMenu {
  left: 0;
  transition: 0.5s;
}
ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @include large {
    width: 80%;
    // max-width: 1180px;
    padding: 0 20px;
  }
  &__row {
    @include large {
      margin: 0 -20px;
    }
  }
  &__wrapper {
    display: flex;
    min-height: 500px;
    width: 100%;
    .active-selector {
      bottom: 0;
    }
    // margin: 0 -20px;
  }
}

.flex {
  display: flex;
}

.item {
  width: 100%;
  margin-bottom: 16px;
}

html {
  font-size: $body-font-size;
  font-family: "Electrolux";
  @include desktop {
    font-size: $body-font-size-tablet;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
  // margin-bottom: 16px;
}

.oldprice {
  text-decoration: line-through;
}

.danger {
  color: red;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}

.show {
  visibility: visible;
}

.center-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-start-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.hide-on-mobile {
  display: none;
  @include large {
    display: flex;
  }
}
.hide-on-desktop {
  @include large {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.hide {
  display: none;
}

.hideDropDown {
  display: none;
}

.dropDown {
  display: block;
}

.price-old {
  text-decoration: line-through;
  font: 400 12px/18px $font-primary;
}

.full-img {
  img {
    height: 100%;
  }
}

.loadMore {
  // width: 30px;
  // height: 30px;
}
.cart-active .cart {
  overflow-y: auto;
  height: 477px;
  overflow-x: hidden;
  border: 1px solid rgba(223, 231, 243, 0.4);
}

.contact-icon {
  position: fixed;
  right: 15px;
  bottom: 80px;
  z-index: 9;
}
