body {
  color: $primary-color;
  font-family: "Electrolux";
  margin: 0;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border: 1px solid #d5d5d5;
  background-color: #ffffff;
  font: 700 13px/18px "Electrolux", serif;
  text-transform: uppercase;
  color: var(--primary-color);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: all 0.3 ease-in-out;
  }
}

.btn--primary {
  background-color: $primary-color;
  color: #ffffff;
}
.btn-no-border {
  border: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @include large {
    max-width: 1180px;
    padding: 0 20px;
  }
  &__row {
    @include large {
      margin: 0 -20px;
      
    }
  }
  &__wrapper {
    display: flex;
    min-height: 500px;
    width: 100%;
    // margin: 0 -20px;
  }
}

.flex {
  display: flex;
}

.item {
  width: 100%;
  margin-bottom: 16px;
}

:root {
  --primary-color: #011e41;
}

html {
  font-size: $body-font-size;
  font-family: "Electrolux";
  @include desktop {
    font-size: $body-font-size-tablet;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
  // margin-bottom: 16px;
}
.disable {
  opacity: 0.5;
  pointer-events: none;
}

.show {
  visibility: visible;
}

.center-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-start-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.hide-on-mobile {
  display: none;
  @include large {
    display: flex;
  }
}

.hide-on-desktop {
  @include large {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.product-container {
  width: 100%;
  padding: 0 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hideDropDown {
  display: none;
}
.dropDown {
  display: block;
  &__header {
  }

  &__container {
  }
}

.active {
  &__content {
    bottom: 0;
  }
  @include large {
    bottom: auto;
  }
}

.full-img {
  img {
    height: 100%;
  }
}

.loadMore{
  width: 30px;
  height: 30px;
}