$primary-color: #011E41;
$secondary-color: #dfe7ea;
$white-color: #fff;
$cart-price-background-color: #f2f5f7;
$tag-discount-color: #fe392f;
$danger-color: #FF0000;
$dark-color: #000000;
$overlay-dark: rgba(0, 0, 0, 0.5);

$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$font-primary: "Electrolux", serif;

$body-font-size: 14;
$body-font-size-tablet: 16;