$primary-color: #011E41;
$secondary-color: #dfe7ea;
$white-color: #fff;
$cart-price-background-color: #f2f5f7;



$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$font-primary: "Electrolux", serif;

$body-font-size: 14px;
$body-font-size-tablet: 16px;