@charset "UTF-8";
@font-face {
  font-family: "Electrolux";
  src: url("../fonts/ElectroluxSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ElectroluxSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ElectroluxSans-Regular.woff2") format("woff2"), url("../fonts/ElectroluxSansVN-Regular.woff") format("woff"), url("../fonts/ElectroluxSans-Regular.ttf") format("truetype");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-repeat: no-repeat;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  margin-bottom: 24px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 63px;
  box-shadow: 0px 1px 0px #dfe7ea;
}
.header__logo {
  width: fit-content;
}
.header__navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: auto;
}
.header__navigation-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  .header__navigation-icons {
    width: auto;
  }
}
.header__navigation-icon {
  margin-left: 15px;
  position: relative;
}
.header__navigation-language {
  position: relative;
  border-left: 1px solid #011E41;
  padding-left: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.header__navigation-language-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 0;
  width: 150px;
  height: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #dfe7ea;
  padding: 10px;
}
.header__navigation-language--icon {
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .header__navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.header__navigation-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 10px;
}
.header__navigation-button {
  margin: 0 20px;
  font: 600 14px/26px "Electrolux", serif;
}
.header__breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  height: 42px;
}
.header__breadcrumb-mobile {
  font: 600 14px;
}
.header__breadcrumb-mobile--item {
  text-decoration: none;
  text-transform: capitalize;
  color: #011E41;
}
.header__breadcrumb-mobile--item:before {
  content: " <";
  color: #011E41;
  padding-right: 5px;
  width: 15px;
  height: 15px;
}
.header__breadcrumb-desktop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
}
.header__breadcrumb-desktop li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}
.header__breadcrumb-desktop li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  opacity: 0.5;
}
.header__breadcrumb-desktop li + li a {
  text-decoration: underline;
  font-style: italic;
  color: #011E41;
  opacity: 1;
}
.header__hero-wrapper {
  position: relative;
  margin: 0 -15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
@media only screen and (min-width: 1024px) {
  .header__hero-wrapper {
    height: 368px;
  }
}
.header__hero-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  .header__hero-img {
    height: 100%;
  }
}
.header__hero-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 74px;
  background-color: #011E41;
  text-transform: capitalize;
  font: 600 26px/34px "Electrolux", serif;
  color: #fff;
}
@media only screen and (min-width: 1024px) {
  .header__hero-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    width: 470px;
    height: 148px;
    justify-content: flex-start;
    padding-left: 55px;
  }
}
.header .count__wrapper {
  position: relative;
}
.header .count__number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  color: #fff;
  bottom: 5px;
  right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

body {
  color: #011E41;
  font-family: "Electrolux";
  margin: 0;
}

a {
  text-decoration: none;
  color: #011E41;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 3px;
  padding: 7px 12px;
  border: 1px solid #d5d5d5;
  background-color: #ffffff;
  font: 600 13px/18px "Electrolux", serif;
  text-transform: uppercase;
  color: #011E41;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  transition: all 0.3 ease-in-out;
}
.btn--primary {
  background-color: #011E41;
  color: #ffffff;
}
.btn-no-border {
  border: none;
}

.showMenu {
  left: 0;
  transition: 0.5s;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1180px;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .container__row {
    margin: 0 -20px;
  }
}
.container__wrapper {
  display: flex;
  min-height: 500px;
  width: 100%;
}

.flex {
  display: flex;
}

.item {
  width: 100%;
  margin-bottom: 16px;
}

:root {
  --primary-color: #011e41;
}

html {
  font-size: 14px;
  font-family: "Electrolux";
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

input[type=checkbox] {
  transform: scale(1.5);
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
}

.oldprice {
  text-decoration: line-through;
}

.danger {
  color: red;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}

.show {
  visibility: visible;
}

.center-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-start-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.hide-on-mobile {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-on-mobile {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.hide {
  display: none;
}

.product-container {
  width: 100%;
  padding: 0 20px;
}

.show {
  display: block;
}

.hideDropDown {
  display: none;
}

.dropDown {
  display: block;
}

.price-old {
  text-decoration: line-through;
  font: 400 12px/18px "Electrolux", serif;
}

.full-img img {
  height: 100%;
}

.cart-active .cart {
  overflow-y: auto;
  height: 500px;
  overflow-x: hidden;
}

.contact-icon {
  position: fixed;
  right: 15px;
  bottom: 80px;
  z-index: 10;
}

.owl-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: flex;
}
@media only screen and (min-width: 1024px) {
  .no-js .owl-carousel,
.owl-carousel.owl-loaded {
    padding: 25px 0;
  }
}

.owl-carousel .owl-nav {
  margin: 0;
}

.owl-item .active {
  width: fit-content;
}

.owl-stage {
  width: 150%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 25px;
}

.owl-carousel .owl-stage-outer {
  height: 160px;
}

.owl-prev,
.owl-next {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
}
.owl-prev span,
.owl-next span {
  position: absolute;
  color: #011E41;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: auto;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #011E41;
  font-size: 39px;
  background: transparent;
  margin: 0;
  padding: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
}

.owl-item > div {
  cursor: pointer;
  transition: margin 0.4s ease;
}

.owl-item.center > div {
  cursor: auto;
  margin: 0;
  border: 1.5px solid #011E41;
}

.menu {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
  transition: 0.5s;
  overflow: hidden;
}
.menu__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid;
  height: 100%;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.menu__content-heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}
.menu__content-heading-span {
  height: 18px;
  font-weight: 600;
  display: block;
  position: relative;
  cursor: pointer;
}
.menu__content-heading-img {
  height: 100%;
}
.menu__content-heading-title {
  font-weight: 600;
  flex-grow: 1;
  align-self: center;
  text-decoration: none;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  padding: 15px 50px 15px 40px;
  color: #011E41;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.menu__content-heading--nosub {
  pointer-events: none;
}
.menu__content-heading-icon {
  padding-right: 20px;
}
.menu__content-productList {
  padding: 0 20px 25px 0;
  margin-top: 25px;
}
.menu__subMenu {
  display: flex;
  left: 0;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  border: 1px solid #dbdfe1;
  background: #fff;
  height: 100%;
  overflow: auto;
  justify-content: space-between;
  transform: translateX(120%);
  transition: transform 0.4s;
}
.menu__subMenu-heading {
  display: block;
  width: 100%;
  padding: 27px 50px 27px 60px;
  position: relative;
  color: #011e41;
  font-size: 1.14286rem;
  font-weight: 600;
  line-height: 1;
  background-color: #dfe7ea;
  cursor: pointer;
}
.menu__subMenu-heading:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border: solid var(--primary-color);
  padding: 3px;
  transform: rotate(-45deg);
  bottom: 30px;
  border-width: 2px 0 0 2px;
  left: 35px;
}
.menu__subMenu-item {
  padding: 15px 45px 15px 30px;
  font-weight: 600;
  font-size: 14px;
  pointer-events: none;
}
.menu__footer {
  position: relative;
}
.menu__footer-a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
  color: #011E41;
  font-size: 16px;
  position: relative;
  font-size: 1.14286rem;
  padding: 12px 50px 12px 35px;
  font-weight: 600;
  flex: 1;
}
.menu__footer:before {
  content: " ";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  bottom: top;
}
.menu__overlay {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu .overlay__heading {
  position: relative;
  height: 60px;
  min-width: 50px;
  background-color: var(--primary-color);
}
.menu .overlay__heading-icon {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.menu .active {
  display: flex;
  align-items: auto;
  justify-content: flex-start;
  flex-wrap: auto;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.4s;
}

.showMenu {
  left: 0;
  transition: 0.5s;
}

.category {
  margin-top: 20px;
}
.category__header {
  text-transform: uppercase;
  font: 600 18px/25.2px "Electrolux", serif;
  margin-bottom: 8px;
}
@media only screen and (min-width: 1024px) {
  .category__header {
    margin-top: 40px;
    font-size: 20px;
  }
}
.category__content {
  margin-right: 20px;
  height: 70px;
  border-bottom: 1px solid #011E41;
}
@media only screen and (min-width: 1024px) {
  .category__content {
    height: 200px;
  }
}
.category__item {
  font: 400 14px/18px "Electrolux", serif;
  min-width: fit-content;
  height: 60px;
  margin: 0 8px;
  padding: 11px 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item:hover {
  border: 2px solid #011E41;
  border-radius: 2px;
  font-weight: 600;
  opacity: 0.8;
}
.category__item-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .category__item-type {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .category__item {
    height: 160px;
    width: 130px;
    max-width: 135px;
    margin: 0 10px;
    padding: 25px 1px;
    border: none;
  }
}
@media only screen and (min-width: 1024px) {
  .category {
    margin-top: 40px;
  }
}
.category .selected {
  border: 2px solid #011E41;
  border-radius: 1px;
  font-weight: 600;
}

.filter__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 80px;
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  .filter__container {
    position: relative;
    width: 100%;
  }
  .filter__container__button-wrap-reset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 15%;
  }
}
.filter__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
@media only screen and (min-width: 1024px) {
  .filter__wrapper {
    height: 40px;
    margin: 0;
  }
}
.filter__button {
  min-width: 120px;
  height: 45px;
  font: 600 16px/19.2px "Electrolux", serif;
  position: relative;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .filter__button-detail {
    margin: 0 5px;
  }
}
.filter__button-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  position: relative;
}
.filter__button-reset {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .filter__button-reset {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1024px) {
  .filter__button:first-child {
    pointer-events: none;
  }
}
@media only screen and (min-width: 1024px) {
  .filter__button:last-child {
    text-transform: capitalize;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1024px) {
  .filter__button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    width: 20%;
  }
  .filter__button-number {
    padding: 0 30px;
    width: 60%;
    text-transform: capitalize;
  }
  .filter__button-number:after {
    content: " Products";
    margin-left: 10px;
  }
}
.filter__button:hover {
  opacity: 1;
}
.filter__button-wrap-reset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 17%;
}
.filter-sort-selection {
  z-index: 70;
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: -1px 1px 0 #dfe7ea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: -100%;
  left: 0;
  transition: 0.5s;
}
@media only screen and (min-width: 1024px) {
  .filter-sort-selection {
    position: absolute;
    top: 40px;
    bottom: 0;
    height: 0;
    overflow: hidden;
  }
}
.filter-sort-selection--overlay {
  width: 100%;
  height: 75%;
  background-color: black;
  opacity: 0.5;
}
@media only screen and (min-width: 1024px) {
  .filter-sort-selection--overlay {
    display: none;
  }
}
.filter-sort-selection--list {
  width: 100%;
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.filter-sort-selection--list button {
  border: none;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
}
.filter-sort-selection--list button:hover {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .filter-sort-selection--list {
    height: 100%;
    justify-content: unset;
  }
}
.filter-sort-selection--list:hover {
  opacity: 1;
}
.filter-sort-selection--button {
  font: 400 16px/30px "Electrolux", serif;
}
.filter .active {
  bottom: 0;
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .filter .active {
    height: 120px;
  }
}
.filter .hide-on-mobile {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .filter .hide-on-mobile {
    display: flex;
  }
}

.selector {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  z-index: 60;
  background-color: #fff;
  transition: bottom 0.8s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .selector {
    position: static;
    width: 25%;
    margin-left: -20px;
  }
}
.selector__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  text-transform: uppercase;
  position: relative;
  display: flex;
  padding: 15px 15px 15px 30px;
  width: 100%;
  text-align: left;
  border: none;
  background: #dfe7ea;
  margin-top: 0;
}
.selector__header-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 21px;
  height: 21px;
}
.selector__header--iconFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  .selector__header {
    display: none;
  }
}
.selector__container {
  position: relative;
  left: 0;
  right: 0;
  flex: 1 0 auto;
  overflow: auto;
  padding: 15px;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .selector__container {
    padding: 0;
  }
}
.selector__container-list {
  padding: 0 20px;
}
.selector__container-filter {
  border-bottom: 1px solid #dfe7ea;
  padding: 20px 0;
  overflow: hidden;
}
.selector__container-title {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font: 600 14px/17px "Electrolux", serif;
  padding: 10px 0;
}
.selector__container-title:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 14px;
  top: calc(50% - 6px);
  right: 22px;
  background-color: #011E41;
}
.selector__container-title:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 50%;
  right: 15px;
  background-color: #011E41;
}
.selector__container-content {
  height: 0;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.selector__container-checkbox {
  width: 100%;
  padding-top: 10px;
}
.selector__container-label {
  margin-left: 15px;
}
.selector__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  bottom: 15px;
  width: 100%;
  background-color: #fff;
}
.selector__footer-button {
  width: calc(50% - 5px);
}

.active-selector {
  bottom: 0;
}

.product {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
@media only screen and (min-width: 1024px) {
  .product {
    margin: 0;
    display: flex;
    margin-left: 20px;
  }
  .product__list {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1024px) {
  .product__list {
    gap: 40px;
  }
}
.product__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1024px) {
  .product__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc((100% - 80px) / 3);
    margin-bottom: 40px;
  }
}
.product__item-heart {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  right: 15px;
  background-image: url(/src/images/icon/heart-outline-icon.svg);
}
@media only screen and (min-width: 1024px) {
  .product__item-heart {
    right: 0;
  }
}
.product__item-tag {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
}
@media only screen and (min-width: 1024px) {
  .product__item-tag {
    position: absolute;
    flex-direction: column;
    width: auto;
    height: 100px;
  }
}
.product__item-img {
  width: 110px;
  position: relative;
}
.product__item-img img {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .product__item-img {
    margin-top: 28px;
    width: 100%;
  }
}
.product__item-img--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media only screen and (min-width: 1024px) {
  .product__item-img--content {
    display: block;
    margin: 0 auto;
  }
}
.product__item-detail {
  width: calc(100% - 110px);
}
@media only screen and (min-width: 1024px) {
  .product__item-detail {
    width: 100%;
  }
}
.product__item-code {
  text-transform: uppercase;
  font: 600 14px/22px "Electrolux", serif;
}
.product__item-name {
  font: 600 18px/22px "Electrolux", serif;
  min-height: 50px;
}
@media only screen and (min-width: 1024px) {
  .product__item-name {
    font-size: 20px;
    line-height: 26px;
    height: 80px;
  }
}
.product__item-rate {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}
.product__item-rate--number {
  font: 400 14px/16.8px "Electrolux", serif;
  width: fit-content;
}
.product__item-rate--number:before {
  content: "(";
}
.product__item-rate--number:after {
  content: ")";
}
@media only screen and (min-width: 1024px) {
  .product__item-rate--number {
    line-height: 24px;
  }
}
.product__item-price {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}
@media only screen and (min-width: 1024px) {
  .product__item-price {
    margin-top: auto;
    order: 2;
  }
}
.product__item-price--old {
  font: 400 14px/28px "Electrolux", serif;
  text-decoration: line-through;
}
.product__item-price--old:after {
  content: " đ";
  margin-left: 2px;
}
.product__item-price--new {
  font: 600 18px/28px "Electrolux", serif;
}
@media only screen and (min-width: 1024px) {
  .product__item-price--new {
    font-size: 24px;
  }
}
.product__item-price--new:after {
  margin-left: 2px;
  content: " đ";
}
.product__item-suggestion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  height: 46px;
}
@media only screen and (min-width: 1024px) {
  .product__item-suggestion {
    display: none;
  }
}
.product__item-interest {
  width: 15%;
  height: 100%;
  background-color: #011E41;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.product__item-interest--number {
  font: 600 18px "Electrolux", serif;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.product__item-interest--number:after {
  content: "interest";
  text-transform: uppercase;
  font: 600 8px/10px "Electrolux", serif;
}
.product__item-payment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2px;
  height: 100%;
  width: 85%;
  padding: 5px;
  background-color: #dfe7ea;
}
.product__item-description {
  list-style-type: disc;
  padding-left: 15px;
}
.product__item-description li {
  margin-bottom: 6px;
  font: 400 14px/24px "Electrolux", serif;
}
@media only screen and (min-width: 1024px) {
  .product__item-description {
    order: 1;
  }
}
.product__item-description--item {
  font: 400 14px/24px "Electrolux", serif;
}
.product__item-action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}
@media only screen and (min-width: 1024px) {
  .product__item-action {
    flex-direction: row-reverse;
    gap: 10px;
    order: 3;
  }
}
.product__item-action--add, .product__item-action--research {
  height: 45px;
  width: 100%;
  font: 600 14px/16.8px "Electrolux", serif;
}
@media only screen and (min-width: 1024px) {
  .product__item-action--add, .product__item-action--research {
    width: calc(50% - 5px);
  }
}
.product__item-compare {
  width: auto;
}
.product__item-compare-label {
  padding-left: 10px;
  font: 400 16px/22px "Electrolux", serif;
}
@media only screen and (min-width: 1024px) {
  .product__item-compare {
    order: 4;
  }
}
.product .heart-active {
  background-image: url(/src/images/icon/heart-filled-icon.svg);
}
.product .price-number:after {
  content: " đ";
}
.product .active {
  bottom: 0;
}

.design {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.placeholder {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 100% 100%;
  z-index: 2;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
@media only screen and (min-width: 1024px) {
  .footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    height: 375px;
  }
}
.footer__option {
  background-color: #011E41;
  color: #fff;
  padding-top: 10px;
}
.footer__option-item {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .footer__option-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 150px;
    pointer-events: none;
    margin-top: 40px;
    margin-right: 100px;
  }
}
.footer__option-item:last-child {
  margin-top: 15px;
}
.footer__option-item-title {
  position: relative;
  text-transform: uppercase;
  position: relative;
  display: block;
  font: 600 14px/22px "Electrolux", serif;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 8px 0;
  text-decoration: none;
}
.footer__option-item-title:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 14px;
  top: calc(50% - 6px);
  right: 22px;
  background-color: #fff;
}
.footer__option-item-title:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 50%;
  right: 15px;
  background-color: #fff;
}
@media only screen and (min-width: 1024px) {
  .footer__option-item-title {
    border: none;
  }
  .footer__option-item-title:before, .footer__option-item-title:after {
    display: none;
  }
}
.footer__option-item-content {
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.footer__option-item-content li {
  padding: 5px;
  font: 400 14px/30px "Electrolux", serif;
}
@media only screen and (min-width: 1024px) {
  .footer__option-item-content li {
    padding: 0;
    line-height: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__option-item-content {
    display: flex;
    align-items: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__option {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.footer__connect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 16px;
}
.footer__connect-icon {
  margin: 0 15px 15px 0;
}
.footer__connect-infor {
  margin-bottom: 15px;
}
.footer__connect-download {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer__connect-download--option {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.footer__connect-download--button {
  padding: 5px 0;
}
.footer__connect-term, .footer__connect-copyright {
  margin: 10px;
  margin-left: 0;
}

.tag {
  border: 1px solid #011E41;
  padding: 0 8px;
  text-transform: uppercase;
  font: 600 14px/26px "Electrolux", serif;
  border-radius: 2px;
  z-index: 1;
}
.tag--new, .tag--gift {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4px;
}
.tag--discount {
  background-color: #fe392f;
  border: none;
}
.tag--gift {
  position: relative;
}
.tag--gift:before {
  position: absolute;
  background-image: url(/src/images/icon/gift.png);
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
.tag--bundle, .tag--discount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: #fff;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .tag--bundle, .tag--discount {
    width: 57px;
    height: 54px;
    font: 600 12px/16px "Electrolux", serif;
  }
  .tag--bundle:before, .tag--bundle:after, .tag--discount:before, .tag--discount:after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    bottom: -19px;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .tag--bundle:before, .tag--discount:before {
    left: 0;
    border-left: 29px solid #fe392f;
  }
  .tag--bundle:after, .tag--discount:after {
    right: 0;
    border-right: 29px solid #fe392f;
  }
}
.tag--bundle {
  background-color: #011E41;
}
.tag--bundle:before {
  left: -0.5px;
  border-left: 29px solid #011E41;
}
.tag--bundle:after {
  right: -1px;
  border-right: 29px solid #011E41;
}

.checkBox {
  padding-left: 0;
  line-height: 22px;
  font-size: 1.14286rem;
  display: flex;
}
.checkBox__label {
  font: 400 16px/22px "Electrolux", serif;
}

.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  border: 1px solid #7a8a9c;
  height: 22px;
  width: 22px;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  align-self: center;
  top: 0;
}

.checkBox:hover input ~ .checkmark {
  background-color: #fff;
}

.checkBox input:checked ~ .checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkBox input:checked ~ .checkmark:after {
  display: block;
}

.checkBox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  border-right: 2px solid #011E41;
  border-bottom: 2px solid #011E41;
  transform: rotate(45deg);
  left: 7px;
  width: 6px;
  height: 12px;
  top: 3px;
}

.cartpage__add {
  margin: 15px 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #dfe7ea;
  padding: 15px;
}
@media only screen and (min-width: 1024px) {
  .cartpage__add {
    padding: 10px 20px;
  }
}
.cartpage__add-btn {
  order: 3;
  padding: 8px 30px;
}
@media only screen and (min-width: 1024px) {
  .cartpage__add-btn {
    order: 2;
  }
}
.cartpage__add-left {
  width: 20%;
}
@media only screen and (min-width: 1024px) {
  .cartpage__add-left {
    margin-right: 10px;
  }
}
.cartpage__add-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
}
@media only screen and (min-width: 1024px) {
  .cartpage__add-right {
    width: calc(80% - 10px);
  }
}
.cartpage__add-increase, .cartpage__add-number, .cartpage__add-decrease {
  width: 35px;
  height: 35px;
}
.cartpage__add-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 10px 10px 0;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .cartpage__add-img {
    padding: 15px;
  }
}
.cartpage__add-tax {
  order: 1;
  width: 100%;
  text-align: end;
}
@media only screen and (min-width: 1024px) {
  .cartpage__add-tax {
    order: 2;
    width: auto;
  }
}
.cartpage__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 65px;
  border-bottom: 1px solid #dfe7ea;
  padding: 0 20px;
}
@media only screen and (min-width: 1024px) {
  .cartpage__header {
    justify-content: flex-start;
    width: 82%;
    margin: 0 auto;
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  .cartpage__header-logo {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 1024px) {
  .cartpage__left {
    width: 58.3333333333%;
    padding: 0 20px;
  }
}
.cartpage__right {
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  .cartpage__right {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%;
    margin-left: 8.3333333333%;
  }
}
.cartpage__middle {
  margin-left: 8.3333333333%;
}
.cartpage__heading {
  font: 600 40px/48px "Electrolux", serif;
  padding: 20px 0;
}
@media only screen and (min-width: 1024px) {
  .cartpage__heading {
    padding: 40px 20px;
  }
}
.cartpage__gift {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid #011E41;
  margin: 5px 0;
  padding-bottom: 10px;
  position: relative;
}
.cartpage__gift-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  border-radius: 0px;
  border: none;
  pointer-events: none;
}
@media only screen and (min-width: 1024px) {
  .cartpage__gift-button {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
  }
}
.cartpage__gift-cost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: fit-content;
  gap: 12px;
  margin-right: 20px;
}
.cartpage__gift-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
}
.cartpage__gift-left {
  width: 40%;
}
@media only screen and (min-width: 1024px) {
  .cartpage__gift-left {
    width: 20%;
  }
}
.cartpage__gift-name {
  padding-top: 10px;
  font: 600 14px "Electrolux", serif;
  max-width: 70%;
}
.cartpage__gift-quantity {
  font: 600 14px "Electrolux", serif;
}
.cartpage__gift-right {
  width: 60%;
}
@media only screen and (min-width: 1024px) {
  .cartpage__gift-right {
    width: 80%;
  }
}
.cartpage__more {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 40px;
}
.cartpage__more--buy {
  padding-left: 20px;
  border: 1px solid #dfe7ea;
}
.cartpage__more-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}
@media only screen and (min-width: 1024px) {
  .cartpage__more-item {
    width: 33.3333333333%;
  }
}
.cartpage__more-item--bundle {
  background-color: #011E41;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
  padding-bottom: 20px;
}
@media only screen and (min-width: 1024px) {
  .cartpage__more-item--bundle {
    padding: 0;
  }
}
.cartpage__more-item--buy {
  padding: 0 20px;
}
.cartpage__more-img {
  margin: 0 auto;
}
.cartpage__more-button {
  width: 100%;
  height: 45px;
  font: 600 14px "Electrolux", serif;
  border: 1px solid #011E41;
  border-radius: 0;
}
.cartpage__more-button--bundle {
  margin: auto;
  width: 80%;
}
.cartpage__more-code {
  font: 600 14px "Electrolux", serif;
  margin-bottom: 4px;
}
.cartpage__more-cost {
  font: 600 24px "Electrolux", serif;
  margin: 16px 0;
}
.cartpage__more-cost--tax {
  font-size: 16px;
}
.cartpage__more-cost--tax:after {
  content: "(tax included)";
  font: 400 14px "Electrolux", serif;
}
.cartpage__more-title, .cartpage__more-save, .cartpage__more-price, .cartpage__more-oldprice, .cartpage__more-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.cartpage__more-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-transform: capitalize;
  height: 57px;
}
.cartpage__more-save {
  background-color: red;
  border: none;
  border-radius: 0;
  color: #fff;
}
.cartpage__more-name {
  font: 600 20px "Electrolux", serif;
  margin: 4px 0 8px;
}
.cartpage__more-price {
  font: 600 30px "Electrolux", serif;
}
@media only screen and (min-width: 1024px) {
  .cartpage__more-price {
    font: 600 30px "Electrolux", serif;
  }
}
.cartpage__more-oldprice {
  font: 400 14px "Electrolux", serif;
  margin-bottom: 25px;
}
.cartpage__product {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px 0 40px;
}
.cartpage__product-checkbox {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.cartpage__product-checkbox--checkmark {
  margin-right: 10px;
}
.cartpage__product-code {
  text-transform: uppercase;
  font: 400 14px/21px "Electrolux", serif;
}
.cartpage__product-cost {
  text-align: center;
}
.cartpage__product-delete {
  align-self: flex-start;
}
.cartpage__product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}
.cartpage__product-detail--install {
  align-items: flex-end;
}
.cartpage__product-imgsrc {
  width: 100%;
}
.cartpage__product-outstock {
  font: 600 14px "Electrolux", serif;
}
.cartpage__product-outstock-note {
  font-weight: 400;
}
.cartpage__product-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20%;
}
.cartpage__product-link {
  position: relative;
  width: 20%;
  height: 50px;
}
.cartpage__product-link:before {
  content: "";
  width: 35px;
  height: 50px;
  border: solid #011E41;
  padding: 3px;
  position: absolute;
  top: 15px;
  left: 50%;
  border-width: 0 0 1px 1px;
}
.cartpage__product-name {
  font: 600 18px/26px "Electrolux", serif;
  width: calc(100% - 20px);
}
@media only screen and (min-width: 1024px) {
  .cartpage__product-name {
    max-width: 70%;
  }
}
.cartpage__product-price {
  text-align: end;
}
.cartpage__product-price--new {
  font: 600 16px/22px "Electrolux", serif;
}
.cartpage__product-price--old {
  font: 400 14px/19px "Electrolux", serif;
}
.cartpage__product-quantity {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.cartpage__product-quantity--add {
  order: 3;
}
@media only screen and (min-width: 1024px) {
  .cartpage__product-quantity--add {
    order: 1;
  }
}
.cartpage__product-quantity--decrease, .cartpage__product-quantity--increase {
  position: relative;
}
.cartpage__product-quantity--decrease:before, .cartpage__product-quantity--increase:before {
  content: "";
  width: 14px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  background-color: #011e41;
  left: calc(50% - 7px);
}
.cartpage__product-quantity--increase:after {
  content: "";
  width: 2px;
  height: 14px;
  position: absolute;
  top: calc(50% - 7px);
  background-color: #011e41;
  left: calc(50% - 1px);
}
.cartpage__product-quantity--number {
  font-size: 16px;
}
.cartpage__product-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
}
.cartpage__promotion {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px 0;
}
.cartpage__promotion-input {
  flex-grow: 1;
}
.cartpage__apply {
  width: 120px;
}
.cartpage__price {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
}
@media only screen and (min-width: 1024px) {
  .cartpage__price {
    position: relative;
    background-color: transparent;
    padding: 0 20px;
  }
}
.cartpage__price-container {
  padding: 15px;
  box-shadow: -1px -1px #dfe7ea;
  background-color: #fff;
}
@media only screen and (min-width: 1024px) {
  .cartpage__price-container {
    background-color: transparent;
    padding: 0 0 40px 30px;
    box-shadow: none;
  }
}
.cartpage__price-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  .cartpage__price-total {
    margin: 10px 0 0 0;
  }
}
.cartpage__price-total--title {
  text-transform: uppercase;
  font: 600 12px/20px "Electrolux", serif;
}
@media only screen and (min-width: 1024px) {
  .cartpage__price-total--title {
    font-size: 22px;
  }
}
.cartpage__price-total--icon {
  transform: rotate(-90deg);
  width: 10px;
  height: 10px;
}
@media only screen and (min-width: 1024px) {
  .cartpage__price-total--icon {
    display: none;
  }
}
.cartpage__price-total--number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.cartpage__price-total--number span {
  font: 600 18px/26px "Electrolux", serif;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .cartpage__price-noted {
    opacity: 0.5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    font: 400 14px "Electrolux", serif;
  }
}
.cartpage__price-free {
  font: 400 14px "Electrolux", serif;
  margin-bottom: 16px;
}
.cartpage__price-secure {
  font: 600 14px "Electrolux", serif;
}
.cartpage__sub {
  display: none;
  height: 0;
  background-color: #fff;
}
@media only screen and (min-width: 1024px) {
  .cartpage__sub {
    background-color: transparent;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }
}
.cartpage__sub-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #011e41;
  opacity: 0.85;
  z-index: -10;
}
.cartpage__sub-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  font: 600 12px/26px "Electrolux", serif;
  text-transform: uppercase;
}
.cartpage__sub-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid #dfe7ea;
  margin-bottom: 15px;
}
.cartpage__sub-header-title {
  font: 600 16px "Electrolux", serif;
  text-transform: uppercase;
}
.cartpage__sub-header-icon {
  transform: rotate(90deg);
}
.cartpage__checkout {
  height: 45px;
  margin-bottom: 8px;
}
.cartpage__title {
  font: 600 16px/26px "Electrolux", serif;
  text-transform: uppercase;
  border-bottom: 1px solid #dfe7ea;
  margin: 20px 0;
  padding-bottom: 10px;
}
.cartpage__return {
  width: 150px;
  position: relative;
  margin: 15px 0px;
  padding-left: 20px;
  font: 600 14px "Electrolux", serif;
  cursor: pointer;
}
.cartpage__return:before {
  content: "";
  width: 10px;
  height: 10px;
  border: solid #011E41;
  padding: 3px;
  position: absolute;
  transform: rotate(-45deg);
  top: 4px;
  border-width: 2px 0 0 2px;
  left: 0;
}
.cartpage__container {
  max-width: 82%;
  display: block;
  margin: 0 auto;
}
.cartpage-box {
  width: 40px;
  height: 40px;
}
.cartpage__footer {
  margin-bottom: 200px;
}
.cartpage__footer-header {
  border-top: 1px solid #dfe7ea;
  border-bottom: none;
  padding: 40px 0 20px;
  margin: 0;
}
.cartpage__footer-list {
  list-style: none;
}
.cartpage__footer-method {
  position: relative;
  padding-left: 25px;
}
.cartpage__footer-method:before {
  content: "";
  width: 7px;
  height: 15px;
  border: solid #011E41;
  padding: 3px;
  position: absolute;
  transform: rotate(45deg);
  top: -5px;
  border-width: 0 3px 3px 0;
  left: 0;
}
.cartpage__footer-logos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin: 20px 0;
}
.cartpage .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.cartpage .expand {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  z-index: 9999;
}
@media only screen and (min-width: 1024px) {
  .cartpage .wrapper-cart {
    height: 100%;
    background: linear-gradient(90deg, #fff 61.6%, #f2f5f7 38.4%);
    position: relative;
  }
}
.cartpage .hide-on-mobile {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .cartpage .hide-on-mobile {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) {
  .cartpage .hide-on-desktop {
    display: none;
  }
}

.cart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  z-index: 50;
  height: 0;
  width: 474px;
  top: 50px;
  right: -40px;
  background: #fff;
  overflow: hidden;
  box-shadow: -1px 1px 0px #dfe7ea;
  border: 1px solid rgba(223, 231, 243, 0.4);
}
.cart:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  top: 0px;
  right: 50px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dfe7ea;
  position: absolute;
  margin: auto;
  z-index: 9999;
}
.cart__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  padding: 15px;
  height: 50px;
  border-bottom: 1px solid #dfe7ea;
  font: 400 16px/24px "Electrolux", serif;
}
.cart__header-number {
  opacity: 0.5;
}
.cart__header-number:before {
  content: "(";
}
.cart__header-number:after {
  content: ")";
}
.cart__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: no-wrap;
  flex-direction: column;
  padding-right: 0 15px;
  height: 250px;
  overflow-y: scroll;
}
.cart__container-detail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 220px;
  height: 100%;
  padding-top: 10px;
}
.cart__container-decision {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  height: 100%;
  padding-top: 10px;
}
.cart__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #dfe7ea;
}
.cart__item-img {
  width: 70px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.cart__item-img img {
  width: 50%;
  object-fit: contain;
}
.cart__item-name {
  font: 600 14px/18px "Electrolux", serif;
  margin-bottom: 3px;
}
.cart__item-code {
  text-transform: uppercase;
  font: 400 12px/16px "Electrolux", serif;
  margin-bottom: 8px;
}
.cart__item-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  height: 30px;
}
.cart__item-quantity--number {
  font: 600 12px/20px "Electrolux", serif;
}
.cart__item-price {
  font: 600 14px/22px "Electrolux", serif;
}
.cart__item-delete {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  opacity: 0.5;
}
.cart__item-delete--small {
  width: 13px;
}
.cart__item-delete--small img {
  width: 100%;
}
.cart__footer {
  border-top: 1px solid #dfe7ea;
  height: 150px;
}
.cart__footer-total {
  padding: 20px 15px 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.cart__footer-title {
  text-transform: uppercase;
  font: 600 16px/24px "Electrolux", serif;
}
.cart__footer__number {
  font: 400 16px/24px "Electrolux", serif;
}
.cart__footer-action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  padding: 0 15px;
  margin-bottom: 15px;
}
.cart__footer-action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 45px;
  width: calc((100% - 8px) / 2);
}
.cart__footer-extra {
  height: 41px;
  background-color: #dfe7ea;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.cart__footer-extra-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  font: 400 14px/22px "Electrolux", serif;
}
.cart__empty {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.cart .price-out-stock {
  color: #fe392f;
}
.cart .hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
